@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
#title {
  background-color: #ff4c68;

}


/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 
  font-family: "Montserrat-Black 900 italic";*/
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
  color: white;
}

.transform {
  transform: rotate(25deg);
  width: 60%;
}
.navbar {
  padding: 0 0 40px;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 200;
}
.align-left{
  text-align: left;
}
@media (max-width: 600px){
  .align-left{
    text-align: center;
  }
  .transform {
    margin: 40px;
    transform: rotate(0);
    position: static;
    width: 40%;
    height: 80%;
  }
}
.download-btn {
  margin: 20px 20px 0 0;
}
.nav-item {
  padding: 0 20px;
}
a {
  color: white;
}
.overlay {
  color: pink;
}
.text-center {
  padding: 3% 0;
}
.overlay:hover {
  color: #ff4c68;
}
#features {
  padding: 3% 8%;
  background-color: white;
  
}
h3 {
  padding-top: 10px;
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  color: gray;
}
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}
.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}
#press {
  text-align: center;
  background-color: #ff4c68;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 10px 30px 50px;
}
.carousel-item {
  padding: 5% 15%;
}
.changeStyle{
  background-color: #ff4c68;
  border-style: none;
}
#pricing{
 text-align: center;
 padding: 3% 8%;
}
.card-style{
  padding: 5% 2%;
}
#cta{
  background-color: #ff4c68;
  padding: 80px;
  text-align: center;
}
#cta h1{
  text-align: center;
  margin: 40px;
}
#cta .download-btn{
  margin: 40px;
}
#footer{
  margin: 40px;
  font-size: 10px;
  text-align: center;
}
#footer p{
  font-size: 25px;
  margin-bottom: 10px;
}
#footer i{
  margin: 10px;
}